Makefile
Build
Build.bat
META.*
MYMETA.*
.build/
_build/
cover_db/
blib/
inc/
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
MANIFEST
MANIFEST.SKIP
*.tar.gz
*.orig
*.bak
*.rej
*.patch
*.old
*.swp
